{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block page_content %}
    <div class="page-header">
        <h1>URL-Shortener</h1>
        <form id="form" action="{% url 'shortener:form_handler' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="url">URL</label>
                {% render_field form.url type="text" class="form-control" required="" id="url"%}
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
